<div class="bg-dark borderright p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>
    <hr class="text-light">
    <div class="list-group list-reset" *ngFor="let item of searchHistory">
      <a href="#" class="list-group-item list-group-item-action" (click)="searchGifs(item)">
        {{item | titlecase}}
      </a>
    </div>
</div>
