

<div class="row">
    <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn" *ngFor="let item of results">
        <div class="card">
            <img [src]="item.images.downsized_medium.url" [alt]="item.title" class="card-img-top">
            <div class="card-body">
                <p class="card-title">{{ item.title }}</p>
            </div>
        </div>
    </div>
</div>